.basket-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding-bottom: 1rem;

  .basket-row {
    padding-bottom: 0;
  }

  .basket-item-controls {
    display: grid;
    grid-template-columns: 7.625rem 1fr;
    gap: 1rem;
    align-items: center;

    .button-link {
      width: 4rem;
      width: max-content;
    }
  }
}
