.button-circle {
  @include preset-button;
  @include preset-animation;
  cursor: pointer;
  color: $grey-dark-super;
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;

  span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  &:focus {
    background-color: #f3f3f5;
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #f3f3f5;
    }
  }

  &:disabled {
    color: $grey-light;
    cursor: auto;

    @media (hover: hover) {
      &:hover {
        background-color: white;
      }
    }
  }

  &.grey {
    color: $grey;
  }
}

%button {
  @include preset-button;
  @include preset-animation;
  cursor: pointer;
  font: 500 1rem/1.5rem $font;
  display: block;
  padding: 0.75rem 1.25rem;
  color: $grey-dark-super;
  border-radius: 1.5rem;
  width: max-content;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba($teal, 0.16);
    border-color: $teal;
  }

  &.button-arrow {
    position: relative;
    padding-right: 3rem;

    &:after {
      font-family: "icons" !important;
      font-size: 1.5rem;
      content: "\e900";
      display: block;
      position: absolute;
      right: 1rem;
      top: calc(50% - 0.75rem);
    }

    &:focus {
      padding-right: 3.5rem;
    }

    @media (hover: hover) {
      &:hover {
        padding-right: 3.5rem;
      }
    }
  }

  &.button-full-width {
    width: 100%;
    text-align: center;
  }

  &:disabled {
    color: white;
    background-color: $grey-text;
    cursor: auto;
  }
}

.button-primary {
  @extend %button;
  background-color: $teal;
  filter: brightness(100%);

  &.grey {
    background-color: $grey;
    color: white;
  }

  &.grey-dark-super {
    background-color: $grey-dark-super;
    color: white;
  }

  &.ginger-light {
    background-color: $ginger-light;
  }

  &.white {
    background-color: white;
  }

  &:focus {
    filter: brightness(90%);
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(90%);
    }
  }

  &.button-arrow {
    transition: padding-right 250ms ease-in-out, filter 250ms ease-in;
  }
}

.button-secondary {
  @extend %button;
  border: 1px solid $grey-border;
  padding: calc(0.75rem - 1px) 1.25rem; // compensating for border
  background-color: white;

  &:focus {
    background-color: #f3f3f5;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #f3f3f5;
    }
  }

  &.button-arrow {
    transition: padding-right 250ms ease-in-out, background-color 250ms ease-in;
  }
}

.button-link {
  @include preset-button;
  cursor: pointer;
  text-decoration: underline;
  font: 400 1rem/1.75rem $font;
  padding: 0.375rem 0;
  color: $grey-text;
  display: block;
  width: max-content;

  &:focus {
    text-decoration: none;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }

  &.button-link-centered {
    margin: 0 auto;
  }
}
