.button-circle {
  @include preset-button;
  @include preset-animation;
  cursor: pointer;
  color: $grey-dark-super;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 50%;

  span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  &:focus {
    background-color: #f3f3f5;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #f3f3f5;
    }
  }
}

%button {
  @include preset-button;
  @include preset-animation;
  cursor: pointer;
  font: 500 1rem/1.5rem $font;
  filter: brightness(100%);
  display: block;
  padding: 0.75rem 1.25rem;
  color: $grey-dark-super;
  border-radius: 1.5rem;
  transition: filter 250ms ease-in;
  width: max-content;

  &:focus {
    filter: brightness(90%);
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(90%);
    }
  }

  &.button-arrow {
    position: relative;
    padding-right: 3rem;
    transition: padding-right 250ms ease-in-out, filter 250ms ease-in;

    &:after {
      font-family: "icons" !important;
      font-size: 1.5rem;
      content: "\e900";
      display: block;
      position: absolute;
      right: 1rem;
      top: calc(50% - 0.75rem);
    }

    &:focus {
      filter: brightness(90%);
      padding-right: 3.5rem;
    }

    @media (hover: hover) {
      &:hover {
        filter: brightness(90%);
        padding-right: 3.5rem;
      }
    }
  }

  &.button-full-width {
    width: auto;
    text-align: center;
  }
}

.button-primary {
  @extend %button;
  background-color: $teal;

  &.grey {
    background-color: $grey;
    color: white;
  }

  &.grey-dark-super {
    background-color: $grey-dark-super;
    color: white;
  }

  &.ginger-light {
    background-color: $ginger-light;
  }
}

.button-secondary {
  @extend %button;
  border: 1px solid $grey-border;
  padding: calc(0.75rem - 1px); // compensating for border
  background-color: white;
}
