.dialog-overlay {
  z-index: 1001 !important;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 1rem;
  z-index: 1002;
  padding: 1.5rem;
  max-width: 21rem;
  text-align: center;
  display: none;
  width: 100%;

  &.active {
    display: block;
  }

  .button-circle {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  img {
    margin: 0 auto;
  }

  .dialog-content {
    padding: 1rem;

    p {
      margin: 1rem auto;
      max-width: 17.5rem;
    }

    .button-primary {
      margin: 0 auto;
    }
  }
}

@media (min-width: 600px) {
  .dialog {
    max-width: 25rem;
  }
}
