label {
  @include flexSpaceBetween;
  font: 500 1rem/1.5rem $font;
  color: $grey-dark-super;
  margin-bottom: 0.5rem;

  .optional-text {
    font: 400 1rem/1.5rem $font;
    color: $grey-light;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  align-items: center;
  border: 1px solid $grey-border;
  width: max-content;
  padding: calc(0.25rem - 1px) 0.25rem; // for border
  border-radius: 1.5rem;

  label {
    margin: 0;
    padding: 0;

    .counter-number {
      width: 1.5rem;
      border: none;
      padding: 0.5rem 0;
      font: 500 1rem/1.5rem $font;
      color: $grey-dark-super;
      text-align: center;
      -moz-appearance: textfield;
      outline: none;
    }
  }
}

.input-wrapper {
  display: block;

  input,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 400 1rem/1.5rem $font;
    border: 1px solid $grey-border;
    border-radius: 0.25rem;
    background-color: white;
    color: $grey-dark-super;
    padding: calc(0.75rem - 1px) 1rem; // for border
    width: 100%;
    white-space: normal;
    outline: none;
    resize: none;

    &.error {
      border-color: $red;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem rgba($teal, 0.16);
        border-color: $teal;
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.25rem rgba($teal, 0.16);
      border-color: $teal;
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .input-error {
    font: 400 0.9375rem/1.5rem $font;
    display: block;
    min-height: 2rem;
    color: $red-dark;
    padding: 0.25rem 0;
  }

  .input-icon-left {
    position: relative;

    input {
      padding-left: 3rem;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      position: absolute;
      left: 0.75rem;
      top: 0.75rem;
      color: $grey-light;
    }
  }

  .input-icon-right {
    position: relative;

    input {
      padding-right: 3rem;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
      color: $grey-light;
    }
  }

  .input-password {
    position: relative;

    input {
      padding-right: 3rem;
    }

    .input-password-icon {
      @include preset-button;
      font-size: 1.5rem;
      position: absolute;
      padding: 0.5rem;
      right: 0.25rem;
      top: 0.25rem;
      color: $grey-light;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;

      &:focus {
        background-color: #f3f3f5;
        outline: none;
      }

      @media (hover: hover) {
        &:hover {
          background-color: #f3f3f5;
        }
      }
    }
  }
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  position: relative;
  padding: 0.5rem 0;
  width: max-content;

  input {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:focus + .checkbox {
      border: 1px solid $teal;
      box-shadow: 0 0 0 0.25rem rgba($teal, 0.2);
    }

    @media (hover: hover) {
      &:hover + .checkbox {
        border: 1px solid $teal;
        box-shadow: 0 0 0 0.25rem rgba($teal, 0.2);
      }
    }

    &:checked + .checkbox {
      border: 1px solid $teal;
      background-color: $teal;

      &:after {
        opacity: 1;
      }
    }
  }

  .checkbox {
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.125rem;
    border: 1px solid $grey-border;
    position: relative;
    background-color: white;
    transition: background-color 250ms ease-in-out;

    &:after {
      font-family: "icons" !important;
      font-size: 1.5rem;
      content: "\e91a";
      display: block;
      height: max-content;
      position: absolute;
      left: -1px;
      top: 0;
      height: 1.5rem;
      color: $grey-dark-super;
      opacity: 0;
    }
  }

  label {
    pointer-events: none;
    font-weight: 400;
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  .checkbox-wrapper {
    grid-template-columns: 1.25rem 1fr;
    gap: 0 1rem;

    .checkbox {
      margin-top: 0.125rem;
      width: 1.25rem;
      height: 1.25rem;

      &:after {
        left: -0.1875rem;
        top: -0.25rem;
      }
    }
  }
}
