.link {
  font: 500 1rem/1.75rem $font;
  color: $grey-dark-super;
  padding: 0.125rem 0;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 100%;
    height: 0.125rem;
    background-color: $grey-dark-super;
    transition: right 250ms ease-in;
  }

  &:focus {
    &:after {
      right: 0;
    }
  }

  @media (hover: hover) {
    &:hover {
      &:after {
        right: 0;
      }
    }
  }
}

.link-arrow {
  display: block;
  position: relative;
  padding-right: 1.75rem;
  line-height: 1.75rem;
  width: max-content;
  font-weight: 500;
  color: $grey-dark-super;
  transition: padding 200ms ease-in;

  &:after {
    font-family: "icons" !important;
    font-size: 1.5rem;
    content: "\e900";
    display: block;
    position: absolute;
    right: 0;
    top: 0.125rem;
  }
}
