.product {
  .product-photo {
    cursor: pointer;
    background-color: $ginger-light;
    position: relative;
    padding-bottom: 100%;

    img {
      position: absolute;
      width: 90%;
      height: 90%;
      margin: 5%;
      object-fit: contain;
    }
  }

  .product-details {
    display: grid;
    grid-template-columns: 1fr 3.25rem;
    margin: 0.75rem 0 0.5rem;

    .product-price {
      font-size: 1rem;
      line-height: 1.75rem;
      color: $grey-dark-super;
      text-align: right;
    }
  }

  .product-controls {
    display: grid;
    grid-template-columns: 7.625rem 1fr;
    gap: 1rem;

    .button-secondary {
      width: 100%;

      .product-control-large-only {
        display: none;
      }
    }
  }
}

@media (min-width: 1340px) {
  .product {
    .product-controls {
      .button-secondary {
        .product-control-large-only {
          display: inline;
        }
      }
    }
  }
}
