.sidebar-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-top: 0.5rem;

  .sidebar-layout-content {
    max-width: 39rem; // exactly half container (between U and D of fixed Nudo logo)
  }

  .sidebar-layout-sidebar-wrapper {
    .sidebar-layout-sidebar {
      .sidebar-layout-sidebar-products {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
      }

      .sidebar-layout-sidebar-final-push {
        margin-top: 1.5rem;

        h3 {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .sidebar-layout {
    gap: 3rem;

    .sidebar-layout-sidebar-wrapper {
      .sidebar-layout-sidebar {
        .sidebar-layout-sidebar-products {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 3rem;
        }

        .sidebar-layout-sidebar-final-push {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .sidebar-layout {
    grid-template-columns: 1fr 1fr 1fr;

    .sidebar-layout-content {
      grid-column: 1/3;
    }

    .sidebar-layout-sidebar-wrapper {
      .sidebar-layout-sidebar {
        max-width: 20rem;
        margin-left: auto;

        h3 {
          margin-top: 2rem;
        }

        .sidebar-layout-sidebar-products {
          grid-template-columns: 1fr;
        }

        .sidebar-layout-sidebar-final-push {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .sidebar-layout {
    padding-top: 1rem;
  }
}
