table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $grey-border;
  text-align: left;
  width: 100%;
  margin-top: 0.75rem;

  th {
    font-weight: 500;
    color: $grey-dark-super;
  }

  td,
  th {
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid $grey-border;
    border-right: 1px solid $grey-border;
    vertical-align: top;

    &:last-of-type {
      border-right: none;
    }
  }

  tr {
    &:last-of-type {
      td {
        border-bottom: none;
      }
    }
  }

  &.table-column-2 {
    td,
    th {
      width: 50%;
    }
  }
}

@media (min-width: 800px) {
  table {
    margin-top: 1.5rem;

    td,
    th {
      padding: 0.5rem 1rem;
    }
  }
}
