.text-only-page {
  max-width: 37.5rem;
  margin: 0 auto;

  .last-updated {
    padding-bottom: 1.5rem;
    display: block;
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    color: $grey-dark-super;
  }
}

@media (min-width: 800px) {
  .text-only-page {
    .last-updated {
      padding-bottom: 2.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5rem;
    }
  }
}
