.overlay {
  @include preset-animation;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $grey;
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: 250ms opacity ease-in;

  &.active {
    opacity: 0.2;
    pointer-events: all;
  }
}
