$greyLightSuper: #f8f8fa;
$greyLight: #c8c9cc;
$grey: #757885;
$greyDark: #4f4f4f;
$greyDarkSuper: #242424;

$gingerLight: #fffaf0;
$ginger: #ffd98c;
$gingerDark: #d1ae79;

$salmonLight: #fff5f0;
$salmon: #fca274;
$salmonDark: #f08048;

$tealLightSuper: #ebfaf7;
$tealLight: #e1faf4;
$teal: #5ce6c7;
$tealDark: #49ccaf;
$tealDarkSuper: #003328;

$tuna: #ff9eb6;

$red: #e62223;
$redDark: #d11f20;
