$grey-light-super: #f8f8fa;
$grey-light: #c8c9cc;
$grey: #757885;
$grey-dark: #4f4f4f;
$grey-dark-super: #242424;

$grey-border: #f0f1f5;

$ginger-light: #fffaf0;
$ginger: #ffd98c;
$ginger-dark: #d1ae79;

$salmon-light: #fff5f0;
$salmon: #fca274;
$salmon-dark: #f08048;

$teal-light-super: #ebfaf7;
$teal-light: #e1faf4;
$teal: #5ce6c7;
$teal-dark: #49ccaf;
$teal-dark-super: #003328;

$tuna: #ff9eb6;

$red: #e62223;
$red-dark: #d11f20;
