@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flexJustifyStart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flexJustifyEnd {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
