@font-face {
  font-family: "Centra No 2";
  src: url("../../fonts/CentraNo2-Book.woff2") format("woff2"),
    url("../../fonts/CentraNo2-Book.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Centra No 2";
  src: url("../../fonts/CentraNo2-Medium.woff2") format("woff2"),
    url("../../fonts/CentraNo2-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Centra No 2";
  src: url("../../fonts/CentraNo2-Bold.woff2") format("woff2"),
    url("../../fonts/CentraNo2-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

$font: "Centra No 2", Arial, sans-serif;

body {
  font: 400 0.875rem/1.5rem $font;
  color: #676970;
}

h1 {
  font: 700 2rem/2.5rem $font;
  color: $grey-dark-super;
  letter-spacing: -0.25px;
}

h2 {
  font: 700 1.5rem/2rem $font;
  color: $grey-dark-super;
}

h3 {
  font: 700 1.375rem/1.875rem $font;
  color: $grey-dark-super;
}

h4 {
  font: 700 1.3125rem/1.75rem $font;
  color: $grey-dark-super;
}

h5 {
  font: 400 1.125rem/1.875rem $font;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

@media (min-width: 800px) {
  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.125rem;
    line-height: 3.75rem;
  }

  h2 {
    font-size: 2.125rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.625rem;
    line-height: 2.125rem;
  }
}
