<div class="basket-drawer" id="basket-drawer">
  <header class="basket-drawer-header">
    <h4 class="basket-drawer-header-title">
      Your order (2)
    </h4>
    <button
      class="button-circle grey basket-drawer-button"
      tabindex="-1"
      onclick="hideBasket()"
      aria-label="Hide Basket"
    >
      <span class="icon-close"></span>
    </button>
  </header>
  <section class="basket-drawer-body">
    <form method="post">
      <ul>
        <!-- prettier-ignore -->
        @@include('./basket-drawer-item.html', { 
        "product": "Avocado lover",
        "price": "£4.49", 
        }) 
        @@include('./basket-drawer-item.html', { 
          "product": "Chicken Japanese Curry with Rice", 
          "price": "£7.80", 
        })
      </ul>
      <!-- prettier-ignore -->
      <div class="basket-row">
        <span class="basket-row-name">
          Sub total (2 items)
        </span>
        <span class="basket-row-price">
          £12.29
        </span>
      </div>
      <div class="basket-row">
        <span class="basket-row-name">
          Delivery charge
        </span>
        <span class="basket-row-price">
          £2.50
        </span>
      </div>
      <div class="basket-row">
        <span class="basket-row-name">
          Total
        </span>
        <span class="basket-row-price">
          £14.69
        </span>
      </div>
      <div class="basket-instructions">
        <button
          class="button-link button-link-centered basket-drawer-button"
          type="button"
          tabindex="-1"
        >
          Add special instructions
        </button>
      </div>
    </form>
  </section>
  <footer class="basket-drawer-footer">
    <a
      href="basket.html"
      class="button-secondary button-full-width basket-drawer-button"
      tabindex="-1"
      >View basket</a
    >
    <a
      href="#"
      class="button-primary button-full-width basket-drawer-button"
      tabindex="-1"
      >Checkout</a
    >
  </footer>
</div>
<div
  class="overlay basket-drawer-button"
  tabindex="-1"
  id="basket-overlay"
  onclick="hideBasket()"
  onkeydown="accessibleClick(event, this)"
  role="button"
></div>
