<div class="basket-drawer" id="basket-drawer">
  <header class="basket-drawer-header">
    <h4 class="basket-drawer-header-title">
      Your order (1)
    </h4>
    <button class="button-circle grey" onclick="hideBasket()">
      <div class="hidden">Hide Basket</div>
      <span class="icon-close"></span>
    </button>
  </header>
  <section class="basket-drawer-body">
    <form method="post">
      <!-- prettier-ignore -->
      @@include('./basket-drawer-item.html', { 
        "product": "Avocado lover",
        "price": "£4.49", 
      }) 
      @@include('./basket-drawer-item.html', { 
        "product": "Chicken Japanese Curry with Rice", 
        "price": "£7.80", 
      })
      <!-- prettier-ignore -->
      <div class="basket-drawer-row">
        <span class="basket-drawer-row-name">
          Sub total (1 item)
        </span>
        <span class="basket-drawer-row-price">
          £12.29
        </span>
      </div>
      <div class="basket-drawer-row">
        <span class="basket-drawer-row-name">
          Delivery charge
        </span>
        <span class="basket-drawer-row-price">
          £2.50
        </span>
      </div>
      <div class="basket-drawer-row">
        <span class="basket-drawer-row-name">
          Total
        </span>
        <span class="basket-drawer-row-price">
          £14.69
        </span>
      </div>
      <div class="basket-drawer-instructions">
        <button class="button-link">
          Add special instructions
        </button>
      </div>
    </form>
  </section>
  <footer class="basket-drawer-footer">
    <a href="basket.html" class="button-secondary button-full-width"
      >View basket</a
    >
    <a class="button-primary button-full-width">Checkout for £14.69</a>
  </footer>
</div>
<div class="overlay" id="basket-overlay" onclick="hideBasket()"></div>
