<li class="basket-drawer-item">
  <div class="basket-drawer-row">
    <span class="basket-drawer-row-name">
      Avocado lover
    </span>
    <span class="basket-drawer-row-price">
      £4.49
    </span>
  </div>
  <div class="basket-drawer-item-controls">
    <div class="counter">
      <button class="button-circle" disabled>
        <div class="hidden"></div>
        <span class="icon-minus"></span>
      </button>
      <input class="counter-number" type="number" value="1" />
      <button class="button-circle">
        <div class="hidden"></div>
        <span class="icon-plus"></span>
      </button>
    </div>
    <button class="button-link">
      Remove
    </button>
  </div>
</li>
