<li class="basket-item">
  <div class="basket-row">
    <span
      role="button"
      aria-label="View product"
      class="basket-row-name product-name"
      onclick="toggleProductMoreInformation('avocado-lover')"
    >
      @@product
    </span>
    <span class="basket-row-price">
      @@price
    </span>
  </div>
  <div class="basket-item-controls">
    <div class="counter">
      <button
        type="button"
        class="button-circle basket-drawer-button"
        aria-label="Decrease quantity by 1"
        disabled
        tabindex="-1"
        onclick="decreaseCounter(this)"
      >
        <span class="icon-minus"></span>
      </button>
      <label>
        <span class="hidden">Quantity</span>
        <input
          class="counter-number basket-drawer-button"
          type="number"
          value="1"
          name="quantity"
          tabindex="-1"
        />
      </label>
      <button
        type="button"
        class="button-circle basket-drawer-button"
        aria-label="Increase quantity by 1"
        tabindex="-1"
        onclick="increaseCounter(this)"
      >
        <span class="icon-plus"></span>
      </button>
    </div>
    <button
      class="button-link basket-drawer-button"
      type="button"
      tabindex="-1"
    >
      Remove
    </button>
  </div>
</li>
