<a href="blog-post.html" class="blog-article">
  <div class="blog-article-image">
    <img
      src="./images/nudo-sushi-box-platter.jpg"
      alt="placeholder"
      title="placeholder"
    />
  </div>
  <div class="blog-article-content">
    <h2 class="h4">COVID: An update on our stores and opening times</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.
    </p>
    <span class="link-arrow">Read more</span>
  </div>
</a>
