<footer class="footer-site wrapper">
  <section class="footer-site-primary">
    <div class="final-push">
      <h2>
        Hungry? We know just what you need
      </h2>
      <span>
        Fresh sushi, delivered straight to your door
      </span>
      <a class="button-primary teal button-arrow" href="order-online.html"
        >Order online now</a
      >
    </div>
    <div class="footer-site-primary-links">
      <ul>
        <li>
          <span class="text-bold">Online</span>
        </li>
        <li>
          <a href="order-online.html">Order online</a>
        </li>
        <li>
          <a href="delivery-information.html">Delivery information</a>
        </li>
        <li>
          <a href="faqs.html">FAQs</a>
        </li>
        <li>
          <a href="nudo-points.html">Nudo points</a>
        </li>
        <li>
          <a href="your-account.html">Your account</a>
        </li>
      </ul>
    </div>
    <div class="footer-site-primary-links">
      <ul>
        <li>
          <span class="text-bold">Company</span>
        </li>
        <li>
          <a href="#">Store menu</a>
        </li>
        <li>
          <a href="our-store.html">Our stores</a>
        </li>
        <li>
          <a href="contact-us.html">Contact us</a>
        </li>
        <li>
          <a href="about-us.html">About us</a>
        </li>
        <li>
          <a href="blog.html">Blog</a>
        </li>
      </ul>
    </div>
    <div class="social-icons">
      <span class="text-bold">
        Follow us
      </span>
      <ul>
        <li>
          <a
            href="https://www.facebook.com/NudoSushiBox"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="./icons/social/facebook-dark.svg"
              alt="Facebook logo"
              title="Facebook"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/nudosushibox/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="./icons/social/instagram-dark.svg"
              alt="Instagram logo"
              title="Instagram"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/nudo-sushi-box-ltd/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="./icons/social/linkedIn-dark.svg"
              alt="LinkedIn logo"
              title="LinkedIn"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="footer-site-secondary">
    <div>
      <span
        >&copy;
        <span id="footer-site-copyright-year"></span>
        Nudo Sushi Box Ltd, All Rights Reserved</span
      >
    </div>
    <div class="footer-site-secondary-links">
      <ul>
        <li>
          <a href="privacy-policy.html">Terms</a>
        </li>
        <li>
          <a href="privacy-policy.html">Privacy Policy</a>
        </li>
        <li>
          <a href="privacy-policy.html">Accessibility</a>
        </li>
      </ul>
    </div>
    <div class="footer-site-payment-methods">
      <ul>
        <li>
          <img
            src="./icons/payment-methods/visa.svg"
            alt="Visa logo"
            title="Visa"
          />
        </li>
        <li>
          <img
            src="./icons/payment-methods/mastercard.svg"
            alt="Mastercard logo"
            title="Mastercard"
          />
        </li>
        <li>
          <img
            src="./icons/payment-methods/Amex.svg"
            alt="American Express logo"
            title="American Express"
          />
        </li>
        <li>
          <img
            src="./icons/payment-methods/paypal.svg"
            alt="PayPal logo"
            title="PayPal"
          />
        </li>
        <li>
          <img
            src="./icons/payment-methods/apple-pay.svg"
            alt="Apple Pay logo"
            title="Apple Pay"
          />
        </li>
      </ul>
    </div>
  </section>
</footer>
