<header class="header-landing-page">
  <div class="header-landing-page-image">
    <img
      src="./images/nudo-sushi-box-platter.png"
      alt="Nudo Sushi Box Platter"
      title="Nudo Sushi Box Platter"
    />
  </div>

  <div class="header-landing-page-box">
    <h1>The ‘Rolls-Rice’ of Japanese food</h1>
    <p>
      Browse our online menu filled with mouth-watering japanese cuisine today
      and order straight to your front door within 90 minutes.
    </p>
    <a href="order-online.html" class="button-primary button-arrow"
      >Order oniline now</a
    >
  </div>
</header>
