<section class="join-mailing-list">
  <section class="wrapper">
    <svg
      class="chopsticks"
      viewBox="0 0 107 190"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13.026 185.61S92.934 86.265 100.98 82.667c0 0 4.44 1.937 5.55 6.918l-89.065 99.069s-6.104 3.32-4.44-3.044zm7.497-56.016S58.73 7.952 64.967 1.798c0 0 4.838.274 7.843 4.523L25.506 130.685s-4.147 5.225-4.983-1.091z"
        fill="#D1AE79"
        fill-rule="evenodd"
      />
    </svg>

    <div>
      <label class="h2 join-mailing-list-heading" for="email-address"
        >The freshest offers, every week</label
      >
      <p class="join-mailing-list-content">
        We’ll only email you about sushi offers and important news
      </p>
      <div class="input-wrapper">
        <span class="hidden">Your email address</span>
        <input
          type="email"
          name="email-address"
          id="email-address"
          placeholder="Your email"
        />
      </div>
      <div class="feedback"></div>
      <button type="submit" class="button-primary">Sign me up!</button>
    </div>
    <svg
      class="chopsticks"
      viewBox="0 0 107 190"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13.026 185.61S92.934 86.265 100.98 82.667c0 0 4.44 1.937 5.55 6.918l-89.065 99.069s-6.104 3.32-4.44-3.044zm7.497-56.016S58.73 7.952 64.967 1.798c0 0 4.838.274 7.843 4.523L25.506 130.685s-4.147 5.225-4.983-1.091z"
        fill="#D1AE79"
        fill-rule="evenodd"
      />
    </svg>
  </section>
</section>
