<section class="join-mailing-list">
  <section class="wrapper">
    <svg
      class="chopsticks"
      viewBox="0 0 107 190"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13.026 185.61S92.934 86.265 100.98 82.667c0 0 4.44 1.937 5.55 6.918l-89.065 99.069s-6.104 3.32-4.44-3.044zm7.497-56.016S58.73 7.952 64.967 1.798c0 0 4.838.274 7.843 4.523L25.506 130.685s-4.147 5.225-4.983-1.091z"
        fill="#D1AE79"
        fill-rule="evenodd"
      />
    </svg>

    <form
      action="https://nudosushibox.us17.list-manage.com/subscribe/post?u=5d92d7dd1952f847000f885bc&amp;id=838c3c2415"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <h2 class="join-mailing-list-heading">The freshest offers, every week</h2>
      <p class="join-mailing-list-content">
        We’ll only email you about sushi offers and important news
      </p>
      <div class="input-wrapper">
        <label for="mce-EMAIL" class="hidden">Your email address</label>
        <input
          type="email"
          value=""
          name="EMAIL"
          class="required email"
          id="mce-EMAIL"
          placeholder="Your email"
        />
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_5d92d7dd1952f847000f885bc_838c3c2415"
            tabindex="-1"
            value=""
          />
        </div>
        <span class="input-error"></span>
      </div>
      <button type="submit" class="button-primary" id="mc-embedded-subscribe">
        Sign me up!
      </button>
    </form>
    <svg
      class="chopsticks"
      viewBox="0 0 107 190"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13.026 185.61S92.934 86.265 100.98 82.667c0 0 4.44 1.937 5.55 6.918l-89.065 99.069s-6.104 3.32-4.44-3.044zm7.497-56.016S58.73 7.952 64.967 1.798c0 0 4.838.274 7.843 4.523L25.506 130.685s-4.147 5.225-4.983-1.091z"
        fill="#D1AE79"
        fill-rule="evenodd"
      />
    </svg>
  </section>
</section>
