<div class="product">
  <div class="product-photo"></div>
  <div class="product-details">
    <h4>Avocado lover</h4>
    <span class="product-price">£4.49</span>
  </div>
  <div class="product-nutrition">
    <span class="product-nutrition-kcal">313 kcal</span>
    <span class="icon-vegan" title="Vegan"></span>
    <span class="icon-vegetarian" title="Vegetarian"></span>
    <span class="icon-gluten-free" title="Gluten free"></span>
    <span class="icon-spicy" title="Spicy"></span>
    <span class="icon-healthy" title="Healthy & recommended"></span>
  </div>
  <div class="product-controls">
    @@include('./forms/counter.html')
    <button class="button-secondary">
      Add <span class="product-control-large-only">to order</span>
    </button>
  </div>
</div>
