.blog-article-full-header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;

  h1 {
    margin: 0;
    text-align: left;
  }

  .blog-article-full-header-tag {
    text-align: left;
    line-height: 1.5rem;

    a {
      color: $grey-text;
      text-decoration: underline;
    }
  }

  .share-icons-wrapper {
    @include flexJustifyStart;
    align-items: center;

    .share-icons-heading {
      margin-right: 0.75rem;
      line-height: 1.5rem;
    }

    .share-icons {
      @include flexJustifyStart;
      align-items: center;

      li {
        margin-right: 0.25rem;
        line-height: 1.5rem;

        button {
          line-height: 1.5rem;
          @include preset-button;
          padding: 0.5rem 0.75rem 0.5rem 0;
        }
      }
    }
  }

  .blog-article-full-header-image {
    padding-top: 0.5rem;
    width: 100%;
  }
}

.blog-article-full {
  padding-bottom: 0;

  .blog-article-full-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1rem;
      font: 700 1.375rem/1.875rem $font;
      color: $grey-dark-super;
    }

    ul {
      margin-top: 1rem;
      display: table;

      li {
        margin-bottom: 1rem;
        display: table-row;

        &:before {
          box-sizing: content-box;
          display: table-cell;
          content: url("../../images/bullet.svg");
          width: 0.5rem;
          height: 0.5rem;
          padding-right: 1.25rem;
        }
      }
    }

    ol {
      margin-top: 1rem;
      display: table;
      counter-reset: foo;

      li {
        margin-bottom: 1rem;
        display: table-row;
        counter-increment: foo;

        &:before {
          content: counter(foo) ".";
          display: table-cell;
          padding-right: 0.875rem;
        }
      }
    }

    strong {
      font-weight: 500;
      color: $grey-dark-super;
    }

    img {
      padding: 0.5rem 0;
      width: 100%;
    }
  }
}

.suggested-articles {
  h3 {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 600px) {
  .blog-article-full-header {
    grid-template-columns: 1fr 10.5rem;
    align-items: flex-end;
    gap: 1rem;

    h1 {
      grid-row: 1;
    }

    .blog-article-full-header-tag {
      grid-row: 2;
    }

    .share-icons-wrapper {
      grid-row: 2;

      .share-icons {
        height: 1.5rem;

        li {
          margin-right: 1rem;

          &:last-of-type {
            button {
              padding-right: 0;
              margin-right: 0;
            }
          }

          button {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .blog-article-full-header-image {
      grid-column: 1/3;
      padding-top: 1rem;
    }
  }
}

@media (min-width: 800px) {
  .blog-article-full {
    .blog-article-full-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 2rem;
      }
    }
  }
  .suggested-articles {
    h3 {
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 1024px) {
  .blog-article-full-header {
    gap: 1.5rem;
  }

  .blog-article-full {
    .blog-article-full-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 1.625rem;
        line-height: 2.125rem;
      }
    }
  }

  .suggested-articles {
    h3 {
      margin-bottom: 2.5rem;
    }
  }
}
